@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

#modalBackground {
    background: $body-color;
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#dlgLoading {
    z-index: 101;
}

progress {
    width: 100%;
}
